.idea/
.DS_Store
*.iml
output/
target/
build/
website/data/
website/index.html

# NoiseModelling binaries/archives downloaded locally or by the CI
input/NoiseModelling_without_gui_*/
input/NoiseModelling_without_gui_*.zip


# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
__pycache__/
